:root {
	--red: #F90B31;
	--grey: #ECECEC;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

div {
	border: blacak solid 1px;
}

.main {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 6fr 2fr;
	grid-template-rows: repeat(6, 1fr);
}

.header div {
	border: blaack 1px solid;
}

.header {
	grid-row: 1;
	grid-column: 2 / span 2;
	display: grid;
	grid-auto-rows: auto;
	align-items: center;
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
}

.top {
	align-items: center;
	display: grid;
	grid-template-columns: 0.05fr 0.6fr 0.5fr;
}

.right {
	display: grid;
	align-items: center;
	justify-content: right;
	padding-right: 2vw;
	grid-template-columns: repeat(3, 0.1fr);
}

.search-icon {
	display: grid;
	justify-content: right;
	padding-right: 0.5vw;
}

.search {
	border-radius: 20px;
	padding-left: 5px;
	background-color: var(--grey);
}

.alert, .avatar {
	display: grid;
	justify-content: center;
	padding-right: 1vw;
}

.account-name {
	width: 7vw;
	font-size: 18px;
}

.bottom {
	display: grid;
	grid-template-columns: 2fr 4fr 1fr 1fr 1fr;
}

.button {
	background-color: var(--red);
	color: white;
	border-radius: 20px;
	height: 3vh;
	width: 6vw;
	display: grid;
	justify-items: center;
	align-items: center;
	font-size: min(1.4vh, 0.7vw);
}

.sidebar {
	grid-column: 1;
	grid-row: 1 / span 6;
	background-color: var(--red);
	display: grid;
	grid-auto-rows: min-content;
	row-gap: 4vh;
	color: white;
	padding: 15px;
}

.logo, .menu, .settings {
	display: grid;
	grid-template-columns: 1fr 2fr;
	row-gap: 1.5vh;
	padding: 5px;
}	

.projects, .annoucements, .trending {
	background-color: var(--grey);
}

.projects {
	grid-area: 2 / 2 / 7 / 3;
}

.project {
	display: grid;
	height: 75vh;
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 2.5vw;
}

.p-title {
	grid-row: 1;
	grid-column: 1 / span 2;
	padding: 2.5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	font-size: 22px;
}

.card-container {
	background-color: var(--red);
	border-radius: 12px;
	box-shadow: 2px 2px 10px lightgray;
}

.card {
	background-color: white;
	height: 100%;
	width: 97.5%;
	float: right;
	border-radius: 0 10px 10px 0;
	display: grid;
}

.title {
	display: grid;
	align-items: flex-end;
	padding-left: 1.5vw;
	font-size: 16px;
	font-weight: bold;
}

.text {
	padding-left: 1.5vw;
	color: gray;
	font-size: 14px;
}

.card-actions {
	display: grid;
	grid-template-columns: 50px 50px 50px;
	align-content: center;
	justify-content: right;
}

.annoucements {
	grid-area: 2 / 3 / 5 / 3 ;
	padding-right: 2.5vw;
}

.a-container {
	height: 70%;
	display: grid;
	row-gap: 1.5vh;
	background-color: white;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 2px 2px 10px lightgray;
}

.a-title {
	display: grid;
	align-content: flex-end;
	font-size: 16px;
}

.a-text {
	color: gray;
	font-size: 14px;
}

.section-title {
	padding: 2.5px;
	padding-top: 10px;
	font-size: 22px;
	padding-bottom: 10px;
}

.a-title, .a-text {
	padding-left: 2.5px;
}

.trending {
	grid-area: 5 / 3 / 7 / 3;
	padding-right: 2.5vw;
}

.pages {
	grid-template-rows: repeat(4, 1fr);
	display: grid;
	height: 65.5%;
	row-gap: 10px;
	background-color: white;
	border-radius: 10px;
	padding: 15px;
	box-shadow: 2px 2px 10px lightgray;
}

.page {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.icon {
	grid-row: 1 / span 2;
	grid-column: 1;
	display: grid;
	justify-content: center;
	align-content: center;
}

.tag {
	grid-area: 1 / 2 / 1 / 2;
	display: grid;
	align-content: flex-end;
	padding-left: 2.5px;
	font-size: 14px;
}

.page-name {
	grid-row: 2;
	grid-column: 2;
	padding-left: 2.5px;
	font-size: 12px;
	color: gray;
}

.prime-logo, .menu-logo, .setting-logo {
	filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(319deg) brightness(102%) contrast(101%);
	display: grid;
	align-items: center;
	justify-content: center;
}

.prime-name {
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

.card-action {
	display: grid;
	align-items: center;
	justify-content: center;
}